.btn {
	cursor: pointer;
	margin-top: 20px;
	padding: 12px 20px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	background-color: #66666666;
	border: none;
	border-radius: 5px;
	text-decoration: none;
  }

  .btn:hover {
	background-color: #000;
  }