.intro {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	padding: 0 20px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 20px 47px 22px rgb(0 0 0 / 86%);

	@media (max-width: 426px) {
		padding: 0 10px;
	}
}

.intro__video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	width: 100%;
	height: 100%;

	object-fit: cover;
	transform: scale(1.1);
	filter: brightness(50%);

	@media (max-width: 772px) {
		transform: scale(1);
	}
}

.intro__video-bg {
	max-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.intro__title-main {
	font-family: 'Kaushan Script';
	font-size: 130px;
	line-height: 1.1;

	@media (max-width: 772px) {
		font-size: 110px;
	}

	@media (max-width: 576px) {
		font-size: 85px;
	}

	@media (max-width: 426px) {
		font-size: 62px;
	}
}

.intro__subtitle {
	height: 81px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	color: rgb(255, 255, 255, .5);
	padding-left: 90px;

	@media (max-width: 772px) {
		font-size: 60px;
		height: 60px;
	}

	@media (max-width: 576px) {
		font-size: 50px;
		height: 50px;
		padding-left: 32px;
	}

	@media (max-width: 426px) {
		font-size: 32px;
		height: 35px;
	}
}

.intro__text {
	font-size: 50px;
	color: #DCA36E;
	padding-bottom: 90px;

	@media (max-width: 772px) {
		font-size: 36px;
	}

	@media (max-width: 576px) {
		font-size: 30px;
	}

	@media (max-width: 426px) {
		font-size: 23px;
	}
}


.intro__follow {
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	margin-bottom: 15px;

	@media (max-width: 426px) {
		width: 60%;
	}
}

.intro__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro__follow-text {
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding-right: 15px;

	@media (max-width: 426px) {
		font-size: 16px;
	}
}

.intro__follow-social {
	display: inline-block;
	padding: 0 10px;
}

.intro__follow-social svg {
	width: 30px;
    height: 30px;
	fill: white;

	transition: transform .2s linear, color .2s linear;

	&:hover {
		fill: #DCA36E;
		transform: scale(1.2);
	}
}